<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/oes.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mongodb.driver.cluster" level="WARNING">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG" />
    </root>

</configuration>